{% extends "layouts/layout.html.twig" %}

{% block content %}
    <h1 class="mt-5 text-center">
        <i class="fas fa-exclamation-triangle"></i>
        <i class="fas fa-wrench"></i>
        Under Construction
        <i class="fas fa-paint-roller"></i>
        <i class="fas fa-exclamation-triangle"></i>
    </h1>
{% endblock %}