{% if messages|length > 0 %}
    {% for message in messages %}
    <div class="row">
        <div class="col-12">
            <div class="alert alert-{{ message.style }} text-center" role="alert">
                {{ message.text }}
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
