$theme-color-1: #2e97bf; // turquoise
$theme-color-2: #212121; // dark grey
$theme-color-3: lighten($theme-color-2, 50%); // light grey
$theme-color-4: lighten($theme-color-2, 5%); // grey

// Fontawesome
$fa-font-path: '../font';

// Bootstrap
$enable-responsive-font-sizes: true;
$body-bg: $theme-color-2;
$body-color: $theme-color-3;

$blue: $theme-color-1;
$headings-color: $theme-color-1;
$info: $theme-color-1;
$link-color: $theme-color-3;

$custom-file-text: (
  en: 'Browse',
  de: 'Auswählen'
);

$modal-content-bg: $theme-color-2;
$modal-header-border-color: $theme-color-4;
$modal-md: 800px;

$close-color: #fff;
$close-text-shadow: none;

$pagination-bg: $theme-color-4;
$pagination-border-color: $theme-color-2;

$pagination-hover-color: #fff;
$pagination-hover-bg: $theme-color-1;
$pagination-hover-border-color: $theme-color-2;

$pagination-disabled-color: #fff;
$pagination-disabled-bg: $theme-color-4;
$pagination-disabled-border-color: $theme-color-2;
