{% extends "layouts/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <div class="h1 text-center">{{ 'failed-csrf'|trans }}</div>
            {% include('partials/error-animation.html.twig') %}
        </div>
    </div>
{% endblock %}