{% extends "layout/layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="text-center my-3">{{ 'construction'|trans }}</h1>
        </div>
    </div>
{% endblock %}