* {
   outline: 0;
}

a {
    @extend .transition-all;
    
    &:hover {
        text-decoration: none;
    }
}

label {
    cursor: pointer;
}

.transition-all {
    transition: .5s ease;
}

.hyphenate {
    hyphens: auto;
}
