a {
    &.current {
        color: $theme-color-1;
    }
    
    &:hover {
        color: $theme-color-1;
    }
}

.custom-file-label {
    overflow: hidden;
}

.hl-show {
    @extend .hyphenate;
    overflow: hidden;
    padding-bottom: 5px;
}

button {
    &[type='submit'] {
        .fa-sync-alt {
            display: none;
        }

        &[disabled] {
            .fa-sync-alt {
                display: inline;
            }
        }
    }
}
