a {
    &.btn {
        &.btn-create-folder {
            &.overlay {
                @include media-breakpoint-up('md') {
                    left: 50%;
                    position: absolute;
                    transform: translateX(-50%);
                    z-index: 1;
                }
            }
        }
    }
    
    &.current {
        color: $theme-color-1;
    }
    
    &:hover {
        color: $theme-color-1;
    }
}

.custom-file-label {
    overflow: hidden;
}

.hl-show {
    @extend .hyphenate;
    overflow: hidden;
    padding-bottom: 5px;
}

button {
    .fa-sync-alt {
        display: none;
    }

    &[disabled] {
        cursor: not-allowed;

        .fa-sync-alt {
            display: inline-block;
        }
    }
}
