body {
    background-color: $darkgrey;
    color: $grey;
}

a {
    color: $grey;
    
    &.current {
        color: $brand-color-1;
    }
    
    &:hover {
        color: $brand-color-1;
    }
}

h1 {
    color: $brand-color-1;
    
    @include media-breakpoint-down(md) {
        font-size: 2rem;
    }
}

.modal {
    color: $white;
}

.custom-file-label {
    overflow: hidden;
}
