.switch {
    input {
        display: none;
        
        &:checked {
            & + label {
                background-color: $success;
                color: $white;
            
                &:hover {
                    background-color: darken($success, 7.5%);
                    color: $white;
                }
                
                .fa-times {
                    display: none;
                }
                
                .fa-check {
                    display: inline;
                }
            }
        }
        
        & + label {
            background-color: $warning;
            color: $black;
            
            &:hover {
                background-color: darken($warning, 7.5%);
                color: $black;
            }
            
            .fa-check {
                display: none;
            }
        }
        
    }
}
